
@media (max-width: 932px) {
.commentsContainer {
    gap: 10px;
    width: 100%;
}

.commentsTitle {
    text-align: center;
    font-size: 30px;
    color: rgb(26, 208, 159);
    margin-bottom: -20px;
}

.comment {
    margin-top: 10px;
    padding: 10px;
    border-bottom: 1px solid rgb(217, 97, 135);
}

.name {
    font-size: 20px;
    color: rgb(217, 97, 135);
}

.date {
    font-size: 12px;
}
}

@media (min-width: 932px) {
    .commentsContainer {
        gap: 10px;
        width: 100%;
    }
    
    .comment {
        margin-top: 10px;
        padding: 10px;
        border-bottom: 1px solid rgb(217, 97, 135);
    }
    
    .name {
        font-size: 20px;
        color: rgb(217, 97, 135);
    }
    
    .date {
        font-size: 12px;
    }
    }