.navbar {
    background-color: rgb(217, 97, 135);
    color: rgb(255, 255, 255);
    height: 60px;
    display: flex;
    align-items: center;

  }

  .navbar ul {
    display: flex;  
    align-items: center;       
    list-style: none;       
    padding: 10 10;              
    margin: 0;              
    display: flex;          
    gap: 2rem;              
  }

  .title {
    margin-top: 10px;
    font-size: 24px;
  }

  .link:hover {
    font-weight: 600;
    text-decoration: underline wavy rgb(84, 196, 163);
    text-underline-offset: 6px;

  }
  
  .active {
    font-weight: 700;
    text-decoration: underline wavy rgb(41, 227, 244);
    text-underline-offset: 6px;
  }
